<div style="background-color: red"></div>
<div class='tiles'>
  <% (1..12).each do |i| %>
    <%= "<div class='tile' id='s#{i}'>".html_safe %>
      <div class='time'><span></span></div>
      <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
    </div>
  <% end %>
  <span data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-question-sign"></span>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title sxy" id="myModalLabel">Welcome to Snapwall!</h2>
      </div>
      <div class="modal-body">
        <h3>1) Add <%= "#{ENV['USER']}" %> on Snapchat</h3>
        <h3>2) Send a cool picture to <%= "#{ENV['USER']}" %> on Snapchat</h3>
        <h3>3) Check out the <%= link_to 'Frontpage', root_path, class: 'sxy' %> and <a class='sxy' href="#">Snapwall Best-Of</a></h3>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
