<div class='tiles'>
  <% (1..12).each do |i| %>
    <%= "<div class='tile' id='s#{i}'>".html_safe %>
      <div class='time'><span></span></div>
      <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
    </div>
  <% end %>
  <div class="question"><span data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-question-sign"></span></div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title sxy" id="myModalLabel">Welcome to Snapwall!</h2>
      </div>
      <div class="modal-body text-center">
        <h3>SnapWall is a tiled wall of new and constantly updating Snapchat snaps.</h3>
        <h3>Send snaps to '<%= "#{ENV['USER']}" %>' to see them displayed here instantly!</h3>
        <h3>Snaps are shown for the duration specified in Snapchat and are deleted after 30 minutes.</h3>
        <br>
        <p style="text-align: center">
          Created with love by Rick Button, Scott Opell, Kirby Kohlmorgen, and Spencer Brown for MHacks 2014. Boiler UP!
        </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
