<div class='tiles'>
  <div class='tile' id='s1'>
    <div class='time'><span></span></div>
    <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
  </div>
  <div class='tile' id='s2'>
    <div class='time'><span></span></div>
    <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
  </div>
  <div class='tile' id='s3'>
    <div class='time'><span></span></div>
    <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
  </div>
  <div class='tile' id='s4'>
    <div class='time'><span></span></div>
    <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
  </div>
  <div class='tile' id='s5'>
    <div class='time'><span></span></div>
    <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
  </div>
  <div class='tile' id='s6'>
    <div class='time'><span></span></div>
    <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
  </div>
  <div class='tile' id='s7'>
    <div class='time'><span></span></div>
    <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
  </div>
  <div class='tile' id='s8'>
    <div class='time'><span></span></div>
    <div class='flag'><span class='glyphicon glyphicon-flag'></span></div>
  </div>
</div>
